.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
    background: #ef672e;
    padding: 1.5em 2em;
}

.navLinks {
    list-style: none;
    display: flex;
}

.linkItem a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.linkItem a:hover {
    color: white;
}

.nav h1 {
    font-size: 2rem;
}
